.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    scale: .93;
}

.main_section{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    color: #2231fe;
    border-radius: 30px 40px;
    padding: 80px 50px 50px 40px;
}
.main_section p{
    position: relative;
    padding-bottom: 65px;
    top: -50px;
}

.main_title{
    font-size: 20px;
    padding: 20px 25px 100px 5px;
}

.main_section .sub_logo{
    position: relative;
    bottom: -120px;
}

.main_title h1{
    font-size: 3rem;
}

.sub_container{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.sub_section1, .sub_section2{
    border-radius: 30px 40px;
    padding: 20px 25px;
}



.main_title .sub_logo{
    position: relative;
    bottom: -95px;
}

.sub_section1{
    position: relative;
    background-color: #4652f7;
    color:#fff715
}

.sub_section2{
    background-color: #fff715;
    color: #2231fe;
    margin-top: 5px;
    position: relative;
}

.sub_logo{
    display: flex;
    justify-content:space-around;
}

.sub_logo img,p{
    padding: 0 5px 0 0;
    margin: 0;
}

.sub_logo h2,p{
    padding-right: 28px;
    position: relative;
    left: -8px;
}

.sub_logo .heading{
    left: -35px;
    margin-right: 45px;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 90%;
}

.sub_logo .secondary_img{
    position: relative;
    left: 8px;
}

.sub_logo img{
    position: relative;
    left: 25px;
}

.sub_logo .sub_img{
    position: relative;
    left: 40px;
}

p{
    word-wrap: break-word;
    min-width: 25px;
    letter-spacing: .05px;
    word-spacing: .5px;
}
.heading{
    width: 50%;
}